*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
.container{
    padding: 0px 150px;
}
.header-container{
    padding-top: 20px;
    background-image: url('./img/1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-left img{
    cursor: pointer;
}
.header-right-left{
    max-width: 650px;
    width: 100%;
}
.header-right-left ul li{
    cursor: pointer;
}
.header-right-left ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.header-right-center i{
    cursor: pointer;
}
.header-right-center{
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    display: flex;
}
.header-right-menu i{
    cursor: pointer;
}
.header-right{
    width: 100%;
    max-width: 920px;
    justify-content: space-between;
    display: flex;
    gap: 20px;
    color: white;
}

/* ----Nav---- */
.nav-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding:140px 0px;
    color: white;
    width: 100%;
    max-width: 500px;
}
.nav-container h2{
    font-size:5rem;
}
.nav-container p{
    color: #8e8e8e;
}
.nav-container button{
    cursor: pointer;
    width: fit-content;
    color: white;
    padding: 10px 40px;
    border: none;
    background-color: #F57520;
    border-radius: 10px;
}
/* ---Nav-end--- */
.nav-end-container{
    justify-content: space-between;
    display: flex;
}

.nav-block:hover .hover-nav-p{
    opacity: 1;
    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.nav-block:hover {
    transition: .4s ;
    transform:scale(1.2);
}
.nav-block p{
    width: 100%;
    max-width: 150px;
}
.nav-block{
    transition: .2s ;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    width: 100%;
    padding: 20px 0px 20px 70px;
    background-color: #101010;
    color: white;
}
.nav-block.end{
    background-color: #2E2E2E;
}
.hover-nav-p{
    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity: 0;
    cursor: pointer;
    font-size: 13px;
    color:#F57520;
}

/* ----Swiper---- */
swiper-container {
    width: 100%;
    height: 100%;
}
swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiper{
    padding: 50px 0px;
}
.mySwiper img{
    width: 150px;
    height: 100px;
    object-fit: contain;
}

/* ----Block-Cart---- */
.container-box{
    display: flex;
    gap: 20px;
}
.block{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 240px;
}
.block-top-tetx{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.block-top-tetx img{
    width: 50px;
    object-fit: contain;
}
.img-block img{
    width: 100%;
    object-fit: cover;
}