*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body{
    overflow-x: hidden;
}
li{
    list-style: none;
}
.container h3:hover{
    padding: 10px 40px;
    background-color: #8e8e8e45;
}
.container h3{
    border-radius:10px ;
    margin: 0 auto;
    padding: 10px 40px;
    width: fit-content;
    cursor: pointer;
}
.big-container{
    max-width: 2200px;
    width: 100%;
    margin: 0 auto;
}
.container{
    padding: 0px 150px;
}
.header-container{
    padding-top: 20px;
    background-image: url('./img/1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-left img{
    cursor: pointer;
}
.header-right-left{
    max-width: 650px;
    width: 100%;
}
.header-right-left ul li{
    cursor: pointer;
}
.header-right-left ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}
.header-right-center i{
    cursor: pointer;
}
.header-right-center{
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    display: flex;
}
.header-right-menu i{
    cursor: pointer;
}
.header-right{
    width: 100%;
    max-width: 920px;
    justify-content: space-between;
    display: flex;
    gap: 20px;
    color: white;
}

/* ----Nav---- */
.nav-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding:140px 0px;
    color: white;
    width: 100%;
    max-width: 500px;
}
.nav-container h2{
    font-size:5rem;
}
.nav-container p{
    color: #8e8e8e;
}
.nav-container button{
    cursor: pointer;
    width: fit-content;
    color: white;
    padding: 10px 40px;
    border: none;
    background-color: #F57520;
    border-radius: 10px;
}
/* ---Nav-end--- */
.nav-end-container{
    justify-content: space-between;
    display: flex;
}

.nav-block:hover .hover-nav-p{
    opacity: 1;
    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.nav-block:hover {
    transition: .4s ;
    transform:scale(1.2);
}
.nav-block p{
    width: 100%;
    max-width: 150px;
}
.nav-block{
    transition: .2s ;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    width: 100%;
    padding: 20px 0px 20px 70px;
    background-color: #101010;
    color: white;
}
.nav-block.end{
    background-color: #2E2E2E;
}
.hover-nav-p{
    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity: 0;
    cursor: pointer;
    font-size: 13px;
    color:#F57520;
}

/* ----Swiper---- */
swiper-container {
    width: 100%;
    height: 100%;
}
swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiper{
    padding: 50px 0px;
}
.mySwiper img{
    width: 150px;
    height: 100px;
    object-fit: contain;
}

.swiper-slides{
    background: none;
    text-align: start;
}

/* ----Block-Cart---- */
.container-block{
    padding: 80px 0px;
    background-color: 
    #F8F8F8;
}
.container-block h2{
    font-size: 2.2rem;
    padding-bottom: 40px;
}
.container-box{
    padding: 0px 30px;
    display: flex;
    gap: 20px;
}
.block button:hover{
    background-color: #a84e12;
}
.block button{
    cursor: pointer;
    background-color: #F57520;
    border: none;
    color: white;
    padding: 20px ;
    border-radius: 10px;
}
.block{
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.block-top-tetx{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.block-top-tetx img{
    border-top-left-radius: 10px;
    margin-top: -10px;
    margin-left: -10px;
    height: fit-content;
    width: 70px;
    object-fit: contain;
}
.img-block img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.price{
    color: #777777;
}


/* ---section---- */
.section-container{
    padding: 70px 0px;
}
.sectino-text-top{
    font-size: 3rem;
    padding-bottom: 50px;
}
.sectin-cart-top:hover{
    transition: .4s;    
    background-color: #fd6500b7;
}
.sectin-cart-top{
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
    position: relative;
    height: 328px;
    background-color: #F57520;
}
.sectin-cart-top h2{
    font-size: 3rem;
    position: absolute;
    left: 100px;
    top: 45%;
}
.sectin-cart-top img{
    width: 100%;
    max-width: 800px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.sectin-cart-top h2{
    color: white;
}
.section-cart-block h2 {
    color: white;
}
.sectin-cart-bottom{
    display: flex;
    gap: 10px;
    height: 350px;
}
.section{
    width:100% ;
    max-width: 1550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-cart-block.column{
    width: 510px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.section-cart-block-bottom ,.section-cart-block-bottom.active{
    position: relative;
}
.section-cart-block-bottom.active h2{
    position: absolute;
    bottom: 10px !important;
    font-size: 2.5rem;
    top: auto;
    left: 30px !important;
}
.section-cart-block-bottom h2{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 2.5rem;
}
.section-cart-block-bottom.active img{
    top: 0 ;
    right: 0;
    position: absolute ;
}
.section-cart-block-bottom img{
    right: 0;
    bottom: 0;
    position: absolute;
    object-fit: cover;  
    width: 60%;
}
.section-cart-block-top h2{
    position: absolute;
    top: 50px;
    font-size: 2.5rem;
    left: 30px;
}
.section-cart-block-top img{
    object-fit: cover;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.section-cart-block-top:hover , .section-cart-block-bottom:hover , .section-cart-block.first:hover{
    transition: .3s;
    background-color: 
    #101010d8;
}
.section-cart-block-top{
    transition: .3s;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 270px;
    background-color: 
    #101010;
}
.section-cart-block.first h2{
    position:absolute;
    top: 50px;
    right: 30%;
    font-size: 2.5rem;
}
.section-cart-block.first img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
}
.section-cart-block.first{
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
    position: relative;
    width: 510px;
    background-color:
    #101010;
}
.section-cart-block-bottom{
    transition: .3s;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: 
    #101010;
}

/* ---box-text---- */
.box-text{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.box-block-left{
    width: 450px;
    font-size: 2rem;
}
.box-block-right{
    width: 450px;
}
.block-right-p{
    font-size: 13px;
    margin-top: 10px;
    color: #2E2E2E;
}



/* ----video---- */
.container-video{
    padding-top: 80px;
}
.container-bottom-video-text{
    margin-top: -4px;
    padding: 30px 150px;
    background: #2E2E2E;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.container-block-text{
    color: #ffffffb6;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.block-row-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}



/* -----section-bike----- */
.section-bike{
    background:#101010;
    position: relative;
}
.section-img-left img{
    object-fit: contain;
    height: 400px;
}
.section-img-left::after{
    content: "";
    inset: 0;
    background-color: #101010d1;
    width: 100%;
    height: 100%;
    position: absolute;

}
.section-img-left{
    object-fit: contain;
    position: absolute;
    bottom: 0;
}
.section-img-right::after{
    content: "";
    inset: 0;
    background-color: #101010d1;
    width: 100%;
    height: 100%;
    position: absolute;
}
.section-img-right{
    position: absolute;
    right: 0;
}
.section-img-right img{
    object-fit: contain;
    height: 400px;
}
.section-bike-container{
    margin-right: -10px;
    justify-content: end;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 50px 0px;
    display: flex;
    gap: 30px;
}
.section-bike-container h2{
    width: 320px;
    font-size: 2.5rem;
    color: white;
}
.section-bike-block{
    gap: 40px;
    margin-top: 100px;
    margin-right: -5px;
    margin-left: -100px;
    display: flex;
    width: 100%;
    max-width: 1000px;
}


/* ----block-box-bike--- */
.contadiner-box-h2{
    max-width: 100%;
    width: 200px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}
.conatiner-box{ 
    padding: 50px 0px;
}
.container-box-left{
    display: flex;
    gap: 20px;
}
.block-block-left-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.block-box-row img{
    object-fit: contain;
    width: 60px;
    height:60px;

}
.block-box-row h2{
    font-size: 18px;
}
.container-block-bike{
    justify-content: space-between;
    width: 100%;
    display: flex;
    gap: 30px;
}
.block-box-row{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-block-text{
    width: 270px;
    max-width: 100%;
    background-color: #34312D;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.container-box-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}
.container-box-right button{
    width: fit-content;
    background-color:#F57520;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


/* advantage block */
.container-advantage{
    display: flex;

}
.container-advantage img{
    height: 400px;
}
.h1-advantage{
    padding: 30px 0px;
    font-size: 2.5rem;
}